In [2]:
import pandas as pd
import matplotlib.pyplot as plt

In [6]:
df = pd.read_csv('Insumo 2.csv')

In [7]:
df.head()

   ID    Vendedor    Producto  Precio    Mes  Costo  Competencia
0   1  Maca Prabo       M贸vil     250  Enero  212.5       253.75
1   2  Maca Prabo      Tablet     350  Enero  297.5       355.25
2   3  Merk Adona         PS4     400  Marzo  340.0       406.00
3   4  Carl Refur      Tablet     350  Marzo  297.5       355.25
4   5  Merk Adona  Anti-Virus     130  Enero  110.5       131.95

In [8]:
df.tail()

      ID     Vendedor     Producto  Precio    Mes   Costo  Competencia
195  196  Mikal Campo           PC     600  Enero  510.00      609.000
196  197   Maca Prabo        M贸vil     250  Enero  212.50      253.750
197  198  Mikal Campo           PC     600  Marzo  510.00      609.000
198  199  Mikal Campo  Auriculares      25  Enero   21.25       25.375
199  200   Carl Refur  Auriculares      25  Enero   21.25       25.375

In [9]:
df.columns =['Vendedor','Producto','Precio','Costo']

ValueError: Length mismatch: Expected axis has 7 elements, new values have 4 elements